<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalhes do processo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">processo2</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-list id="particoes-list">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of detProcess; let i = index">
          <div size = "large">
            <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected" >
              <ion-label><br><b>Nome: {{p.nome}} </b> <br>PID: {{p.pid}} <br> Tipo: {{p.tipo}} <br> Usuario: {{p.usuario}} <br> Dispositivo: {{p.dispositivo}} <hr></ion-label>
            </ion-item>
          </div>
        </ion-menu-toggle>
      </ion-list>
    </ion-item>
  </ion-card-content>
</ion-card>
</ion-content>
