<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>processo1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">processo1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <ion-item>

        <ion-list id="particoes-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of proc; let i = index">
            <div size = "large">
              <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected" >
                <ion-label>PID :{{p.Processo.PID}}</ion-label>
                <ion-label>Nome :{{p.Processo.Nome}}</ion-label>
              </ion-item>
            </div>
          </ion-menu-toggle>
        </ion-list>


        <!-- <ion-list lines="none">
          <ion-item>
            <ion-label style="font-weight: 600;">Processo 1</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Entrada</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Informações</ion-label>
          </ion-item>
        </ion-list> -->
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
